<!DOCTYPE html>
<html layout:decorator="home.html">

<link th:href="@{/css/style.css}" rel="stylesheet">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Search User</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<title>Home</title>
</head>
<body>
	<div layout:fragment="content" class="col-12 col-sm-9">
		<form th:action="@{/user/search}" method="get">
			<div class="row">
				<div class="col-12 col-md-4">
					<input th:value ="${name}" type="text" class="form-control" name="name"
						placeholder="Tìm kiếm theo ten:...">
				</div>
				<div class="col-12 col-md-4">
					<input type="text" class="form-control" name="id"
						placeholder="Tìm kiếm theo Id:...">
				</div>
				<div class="col-12 col-md-2">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
				<div class="col-12 col-md-2">
					<a th:href="@{/user/create}" class="btn btn-secondary">Add</a>
				</div>
			</div>
		</form>
		<div class="row">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Username</th>
						<th>Role</th>
						<th>Email</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${list}">
						<td th:text="${user.id}"></td>
						<td th:text="${user.name}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.roles}"></td>
						<td th:text="${user.email}"></td>
						<td><a class="text-danger"
							th:href="@{'/user/delete?id=' + ${user.id}}">Delete</a>
							<a th:href="@{'/user/update?id=' + ${user.id}}">Update</a>
						</td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination">
				<li class="page-item"><a class="page-link"
					th:href="@{'/user/search?page='+ ${page - 1 < 0 ? 0 : (page - 1)}}">Previous</a></li>

				<li th:if="${totalPage > 0}"
					th:each="i: ${#numbers.sequence(0, totalPage - 1)}"
					class="page-item"><a class="page-link"
					th:href="@{'/user/search?page='+ ${i} + '&name=' + ${name} }"
					th:text="${i}"></a></li>

				<li class="page-item"><a class="page-link"
					th:href="@{'/user/search?page='+ ${page + 1 >= totalPage ? (totalPage - 1) : (page + 1) } }">Next</a></li>

			</ul>
		</div>
	</div>

</body>
</html>