<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Update category</title>
</head>
<body>
	<div layout:fragment="content" class="col-12 col-sm-9">
		<div class="row">
			<h6>Update category</h6>
		</div>
		<hr />
		<div class="row">
			<form th:action="@{/user/update}" method="post">
			<div class="mb-3">
					<label class="form-label">User Id:</label> 
					<input readonly="readonly" th:value="${user.id}" type="number" name="id" class="form-control">
				</div>
				<div class="mb-3">
					<label class="form-label"> Name:</label> 
					<input th:value="${user.name}" type="text" name="name" class="form-control">
				</div>
				<div class="mb-3">
					<label class="form-label">User Name:</label> 
					<input th:value="${user.username}" type="text" name="username" class="form-control">
				</div>
				<div class="mb-3 mt-3">
    <label  class="form-label">Password:</label>
    <input type="text" class="form-control"  placeholder="Enter password" name="password">
  </div>
   <div class="mb-3 mt-3">
    <label for="email" class="form-label">Email:</label>
    <input type="text" class="form-control" id="email" placeholder="Enter mail" name="email">
  </div>
				
			          <div class="mb-3 mt-3">
    <label for="email" class="form-label">Role:</label>
    <input type="checkbox" name="roles"  value="ROLE_ADMIN" > ADMIN
    <input type="checkbox" name="roles"  value="ROLE_MEMBER" > MEMBER
  </div>
			
			
		<button type="submit">Save</button>
	</form>
</body>
</html>