<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Search category</title>

</head>
<body>
	<div layout:fragment="content" class="col-12 col-sm-9">
		<div class="row">
			<form th:action="@{/category/search}" method="get">
				<div class="row">
					<div class="col-12 col-md-4">
						<input type="text" class="form-control" name="name"
							placeholder="Tìm kiếm theo tên: ...">
					</div>
					<div class="col-12 col-md-4">
						<input type="text" class="form-control" name="id"
							placeholder="Tìm kiếm theo Id:...">
					</div>
					<div class="col-12 col-md-2">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
					<div class="col-12 col-md-2">
						<a th:href="@{/category/create}" class="btn btn-secondary">Add</a>
					</div>
				</div>
			</form>
		</div>
		<hr />
		<div class="row">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID:</th>
						<th>Name:</th>
						<th>Image:</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${list}">
						<td th:text="${category.id}"></td>
						<td th:text="${category.name}"></td>
						<td> <img th:src = "@{'/category/download?imageURL=' +${category.imageURL}}">
						<td><a class="text-danger"
							th:href="@{'/category/delete?id=' + ${category.id}}">Delete</a> <a
							th:href="@{'/category/update?id=' + ${category.id}}">Update</a></td>
					</tr>
				</tbody>
			</table>
		<!--  	 <ul class="pagination">
				<li class="page-item" th:if="${totalPage > 0}"	><a class="page-link"
					th:href="@{'/product/search?page='+ ${page - 1 < 0 ? 0 : (page - 1)}}">Previous</a></li>

				<li th:if="${totalPage > 0}"
					th:each="i: ${#numbers.sequence(0, totalPage - 1)}"
					class="page-item"><a class="page-link"
					th:href="@{'/product/search?page='+ ${i}}" th:text="${i}"></a></li>

				<li class="page-item" th:if="${totalPage > 0}"><a class="page-link"
					th:href="@{'/product/search?page='+ ${page + 1 >= totalPage ? (totalPage - 1) : (page + 1) }}">Next</a></li>
-->
<ul class="pagination">
 				<li class="page-item"><a class="page-link" 
				th:href="@{'/category/search?page='+ ${page - 1 < 0 ? 0 : (page - 1)} + '&name=' + ${name} + '&id=' + ${id} }">Previous</a></li>

				<li th:if="${totalPage > 0}" th:each="i: ${#numbers.sequence(0, totalPage - 1)}"
					class="page-item"><a class="page-link"
					th:href="@{'/category/search?page='+ ${i} + '&name=' + ${name} + '&id=' + ${id} }" th:text="${i}"></a></li>

				<li class="page-item"><a class="page-link"
						th:href="@{'/category/search?page='+ ${page + 1 >= totalPage ? (totalPage - 1) : (page + 1) } + '&name=' + ${name} + '&id=' + ${id}}">Next</a></li> 
			</ul> 
		</div>
	</div>
</body>
</html>