<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Update category</title>
</head>
<body>
	<div layout:fragment="content" class="col-12 col-sm-9">
		<div class="row">
			<h6>Update category</h6>
		</div>
		<hr />
		<div class="row">
			<form th:action="@{/category/update}" method="post">
				<div class="mb-3">
					<label class="form-label">category Id:</label> 
					<input readonly="readonly" th:value="${category.id}" type="number" name="id" class="form-control">
				</div>
				<div class="mb-3">
					<label class="form-label">category Name:</label> 
					<input th:value="${category.name}" type="text" name="name" class="form-control">
				</div>
				<div class="mb-3">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>