
<div th:fragment="menu-section" class="col-12 col-sm-3">
	<ul class="list-group">
		<li class="list-group-item"><a th:href= "@{/user/search}">Manager user</a></li>
		<li class="list-group-item"><a th:href= "@{/product/search}">Manager Product</a></li>
		<li class="list-group-item"><a th:href ="@{/category/search}">Manager Category</a></li>
		<li class="list-group-item"><a th:href ="@{/bill/search}">Manager Bill</a></li>
		<li class="list-group-item"><a th:href ="@{/coupon/search}">Manager Coupon</a></li>
		<li class="list-group-item"><a th:href ="@{/billterms/search}">Manager Bill Item</a></li>
		<li class="list-group-item"><a th:href ="@{/xem-gio-hang}">Your cart</a></li>
		<li class="list-group-item"><a th:href ="@{/logout}">Thoat</a></li>
	</ul>
</div>


