<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Search Billterms</title>

</head>
<body>
	<div layout:fragment="content" class="col-12 col-sm-9">
		<div class="row">
			<form th:action="@{/billterms/search}" method="get">
				<div class="row">
					<div class="col-12 col-md-4">
						<input type="text" class="form-control" name="name"
							placeholder="Tìm kiếm theo tên product: ...">
					</div>
					<div class="col-12 col-md-3">
						<input type="text" class="form-control" name="id"
							placeholder="Tìm kiếm theo Id bill:...">
					</div>
					<div class="col-12 col-md-2">
					<div class="row">
							<label class="col">Khách hàng:</label> 
							<select class="form-select col" name="billId">
								<option value="">Chọn</option>
								<option th:each="bill : ${bill}"
									th:value="${bill.id}" th:text="${bill.user.name}"></option>
							</select>
						</div>
					</div>
					<div class="col-12 col-md-1">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
					<div class="col-12 col-md-2">
						<a th:href="@{/billterms/create}" class="btn btn-secondary">Add</a>
					</div>
				</div>
			</form>
		</div>
		<hr />
		<div class="dropdown">
			<button type="button" class="btn btn-primary dropdown-toggle"
				data-bs-toggle="dropdown">Sắp xếp theo</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" th:href="@{/billterms/search?sort=1}">Theo tên san pham</a></li>
				<li><a class="dropdown-item" th:href="@{/billterms/search?sort=2}">Theo Id hoa don</a></li>
			</ul>
		</div>
		<br/>
		<div class="row">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID BILL</th>
						<th>Số lượng</th>
						<th>Giá (vnđ)</th>
						<th>Khách hàng</th>
						<th>Tên mặt hàng</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="billterms : ${list}">
						<td th:text="${billterms.bill.id}"></td>
						<td th:text="${billterms.quantity}"></td>
						<td th:text="${#numbers.formatDecimal(billterms.price, 2, 0,'COMMA')}"></td>
						<td th:text="${billterms.bill.user.username}"></td>
						<td th:text="${billterms.product.name}"></td>
						<td><a class="text-danger"
							th:href="@{'/billterms/delete?id=' + ${billterms.id}}">Delete</a>
							<a th:href="@{'/billterms/update?id=' + ${billterms.id}}">Update</a></td>
					</tr>
				</tbody>
			</table>
			 <ul class="pagination">
				<li class="page-item" th:if="${totalPage > 0}"><a class="page-link"
					th:href="@{'/billterms/search?page='+ ${page - 1 < 0 ? 0 : (page - 1)} + '&name=' + ${name} + '&id=' + ${id} + '&billId=' + ${billId} +'&sort=' + ${sort} }">Previous</a></li>

				<li th:if="${totalPage > 0}"
					th:each="i: ${#numbers.sequence(0, totalPage - 1)}"
					class="page-item"><a class="page-link"
					th:href="@{'/billterms/search?page='+ ${i}  + '&name=' + ${name} + '&id=' + ${id} + '&billId=' + ${billId} +'&sort=' + ${sort} }" th:text="${i}"></a></li>

				<li class="page-item" th:if="${totalPage > 0}"><a class="page-link"
					th:href="@{'/billterms/search?page='+ ${page + 1 >= totalPage ? (totalPage - 1) : (page + 1) }  + '&name=' + ${name} + '&id=' + ${id} +'&billId=' + ${billId} +'&sort=' + ${sort} }">Next</a></li>
			</ul>
		</div>
	</div>
</body>
</html>